// Fix yarn warning about the npm version it was using is different from the global npm version.
// https://github.com/yarnpkg/yarn/issues/6617
// https://stackoverflow.com/a/51295237/4382179
scripts-prepend-node-path=true
